.nav-custom {
    height: 60px;
}

.card-img-top {
    height: 400px;
}

.card {
    height: 700px;
}

.description {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

.custom-img {
    height:500px;
}